.container{
    padding-top: 50px;
    padding-bottom: 50px;
}
.buy-now-button{
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 10px;
    background-color: black;
}
.banner-part{
    background-image: url(images/bg-1.png);
    background-position: center;
    background-repeat: no-repeat;
}
.banner-part p{
    padding-right: 15px;
    color: grey;
}
